/* body{
    display: flex;
    justify-content: center;
} */

.login Grid{
    cursor: pointer;
    display: none;
}

.login img{
    width: 250px;
    height: 200px;
    transform: translateY(-20px);
}

.login .error{
    color: red;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;

}

.register .error{
    color: red;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;

}

.register img{
    width: 250px;
    height: 200px;
    transform: translateY(-20px);
}

.register .nameErrors{
    display: flex;
    flex-direction: row;
}

.notFound{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.navatar{
    border: 1px solid whitesmoke;
    

}


.bestListings .bestImage{

   width: 250px;
   height: 200px;
   border: solid 2px grey;


}

.bestListings .lineLimit{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   
}

.bestListings .modelLimit{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;

}

.modeLimit{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;

}

#outlined-number{
    padding-right: 50px;
    

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.filterErrors{
    color: red;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;

}

.listRating{
    padding-left: 20px;
    padding-bottom: 5px;
}

.noItems{
    
    font-size: 70px;
    color: rgb(62, 62, 62);
    font-style: italic;
    padding-left: 50px;
    
}